body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: antiquewhite;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
}
